{% extends "base.html" %}

{% block title %}Register | Hack TUES Tickets{% endblock %}

{% block content %}
<section class="card">
    <h1>Create an account</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if redirect_field_value %}
            <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
            >
        {% endif %}

        <button type="submit">Register</button>
    </form>

    <p class="muted">
        Already registered?

        <a href="{% url 'account_login' %}">
            Log in
        </a>
    </p>
</section>
{% endblock %}
